* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#d6e2f0;
}

.container {
    width: 350px;
    height: 520px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 7rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    padding: 1rem;
    max-width: 100%;
    border-radius: 25px
  }

  .attribution { 
    font-size: 12px; 
    text-align: center;
  }

  .attribution a { 
    color: #3e52a3;
    text-decoration: none;
  }

  h2 {
    color: #1f3251;
    text-align: center;
    padding: 0 1.3rem;
  }

  p {
    color: #68778d;
    font-size: 15px;
    text-align: center;
    padding: 1rem 3rem;
  }

  @media (max-width:480px) {
    .container {
        margin-top: 2rem;
        width: 90%;
    }
  }